.container-fixed {
	min-width: 1250px;
	max-width: 1250px;
}
.col-md-2 {
	width: 275px;
}
.col-md-6 {
	width: 400px;
}
.rowTop {
	padding:10px 0 10px 0;
}
.rowBorder {
	margin-top:10px;
	padding: 10px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.confirmTrial {
	width: auto;
}
#ConfirmSubmitTxt {
	height: 365px;
}
#openMap {
	z-index: 1;
}
.dataTables_filter {
	float:left !important;	
}
.row label {
    display: block;
    margin: 5px 0 5px 0;
    font-weight: bold;
    padding:5px 0 5px 10px;
}